*{
    font-family: cursive;
}
p{
    background-color: rgb(6, 7, 6);
}
h2{
    color: rgb(255, 81, 0);
}
.anchor{
    text-decoration: none;
    color: rgb(207, 193, 193);
    background-color: black;
    
    font-size: 2rem;
    
}
label{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-decoration: underline;
}
form{
    border-radius: 20px;
}
a{
    font-size: 10px;
}